page-home {
  .fondo {
    background-color: #e8e8e8;
  }

  .noticia {
    // margin: 2px 3px 10px 3px !important;
    margin: 6px auto 12px auto;
    width: 97%;
  }

  .fecha {
    font-size: 15px !important;
    margin-right: 0 !important;
    color: #838383;
  }

  .categoria {
    font-size: 15px !important;
    color: #5d5d5d;
  }

  .dot {
    // font-size: 20px;
    font-weight: bold;
  }

  .titulo {
    font-size: 24px;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 0;
  }

  .texto {
    font-size: 16px;
  }

  .vermas {
    padding: 0;
    // padding-bottom: 7px !important;
    // margin: 0;
    color: #838383;
  }
}
